@import "home.css";
@import "experience.css";

html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
}

.image-container {
    background-image: url("../images/background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.name {
    color: #ccc;
    position: absolute;
    top: 300px;
    left: 30%;
}

.name p {
    font-size: 48px;
}

.function {
    color: #ccc;
    position: absolute;
    top: 380px;
    left: 38%;
}

.function p {
    font-size: 30px;
}

.image-profile {
    height: 200px;
    position: absolute;
    top: 80px;
    left: 43%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 120px;
    border: 5px solid #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.container {
    background-color: #43556F;
    position: relative;
    height: 1600px;
}

.menu-container {
    background-color: #1A2E48;
    position: relative;
}

.menu {
    list-style: none;
    background-color: #1A2E48;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
}

.menu li a{
    color: #758AA8; 
    text-decoration: none; 
    display: block;
    position: relative;
    line-height: 50px;
    padding: 0;
    text-align: center;
}

.menu li a:hover{
    background:#2C3D54;
    color:#fff;
}

.menu li a p {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.content {
    padding: 16px;
}
